.color-0 { color: #D4BF3F }	/* Main Primary color */
.color-1 { color: #9C8700 }
.color-2 { color: #BBA30A }
.color-3 { color: #FAED9D }
.color-4 { color: #FBF7DB }

body {
    background-color:  #FBF7DB;
    color: #BBA30A;
    border-color: #D4BF3F;
    font-family: 'Oswald', sans-serif;
}

thead tr td {
  text-align: center;
  font-weight: 500;
  margin: 0 20px 0 20px;
  padding: 0 20px 0 20px;
  background-color: #FAED9D;
  border: solid 1px #9C8700;
}

tbody tr {
  margin: 0 20px 0 20px;
  padding: 0 20px 0 20px;
}

tbody tr td {
  margin: 0 20px 0 20px;
  padding: 0 20px 0 20px;
}

form table, form table tr, form table tr td {
    border: solid 0px #D4BF3F;
}

a {
    color: #9C8700;
    text-decoration: underline;
}

a:hover {
    color: #D4BF3F;
    text-decoration: none;
}

h1 {
    color: #9C8700;
}

div.active {
    background-color: red;
}

.hurryfont{
    font-size: 30;
    color: red;
}
div.box {
    display: inline-block;
    margin: 3px;
    border: solid 1px #9C8700;
    width: 40px;
    height: 40px;
    text-align: center;
    align-items: center;
}

div.box:hover {
    background-color: #FAED9D;
}

div.inline-block {
    display: inline-table;
    margin: 0 50px 0 50px;
}

.red-border {
    border: solid 3px red;
}

.form-style-6{
    max-width: 400px;
    margin: 10px auto;
    padding: 16px;
}
.form-style-6 h1{
    background: #BBA30A;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
}
.form-style-6 input[type="text"],
.form-style-6 input[type="password"],
.form-style-6 input[type="date"],
.form-style-6 input[type="datetime"],
.form-style-6 input[type="email"],
.form-style-6 input[type="number"],
.form-style-6 input[type="search"],
.form-style-6 input[type="time"],
.form-style-6 input[type="url"],
.form-style-6 textarea,
.form-style-6 select 
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% 'Oswald', 'Oswald', sans-serif;
}
.form-style-6 input[type="text"]:focus,
.form-style-6 input[type="password"]:focus,
.form-style-6 input[type="date"]:focus,
.form-style-6 input[type="datetime"]:focus,
.form-style-6 input[type="email"]:focus,
.form-style-6 input[type="number"]:focus,
.form-style-6 input[type="search"]:focus,
.form-style-6 input[type="time"]:focus,
.form-style-6 input[type="url"]:focus,
.form-style-6 textarea:focus,
.form-style-6 select:focus
{
    box-shadow: 0 0 5px #BBA30A;
    padding: 3%;
    border: 1px solid #BBA30A;
}

.form-style-6 input[type="submit"],
.form-style-6 input[type="button"]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #BBA30A;
    border-bottom: 2px solid #BBA30A;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;    
    color: #fff;
    font: 95% 'Oswald', 'Oswald', sans-serif;
}
.form-style-6 input[type="submit"]:hover,
.form-style-6 input[type="button"]:hover{
    background: #BBA30A;
}

.myButton1 {
	-moz-box-shadow: 0px 10px 14px -7px #bdba00;
	-webkit-box-shadow: 0px 10px 14px -7px #bdba00;
	box-shadow: 0px 10px 14px -7px #bdba00;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d9bf2b), color-stop(1, #edd500));
	background:-moz-linear-gradient(top, #d9bf2b 5%, #edd500 100%);
	background:-webkit-linear-gradient(top, #d9bf2b 5%, #edd500 100%);
	background:-o-linear-gradient(top, #d9bf2b 5%, #edd500 100%);
	background:-ms-linear-gradient(top, #d9bf2b 5%, #edd500 100%);
	background:linear-gradient(to bottom, #d9bf2b 5%, #edd500 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9bf2b', endColorstr='#edd500',GradientType=0);
	background-color:#d9bf2b;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #fceb00;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	font-weight:bold;
	padding:10px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #fcd600;
    margin: 5px;
}
.myButton1:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #edd500), color-stop(1, #d9bf2b));
	background:-moz-linear-gradient(top, #edd500 5%, #d9bf2b 100%);
	background:-webkit-linear-gradient(top, #edd500 5%, #d9bf2b 100%);
	background:-o-linear-gradient(top, #edd500 5%, #d9bf2b 100%);
	background:-ms-linear-gradient(top, #edd500 5%, #d9bf2b 100%);
	background:linear-gradient(to bottom, #edd500 5%, #d9bf2b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#edd500', endColorstr='#d9bf2b',GradientType=0);
	background-color:#edd500;
}
.myButton1:active {
	position:relative;
	top:1px;
}



.myButton {
/*
	-moz-box-shadow: 0px 10px 14px -7px #bdba00;
	-webkit-box-shadow: 0px 10px 14px -7px #bdba00;
	box-shadow: 0px 10px 14px -7px #bdba00;
*/
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d9bf2b), color-stop(1, #edd500));
	background:-moz-linear-gradient(top, #d9bf2b 5%, #edd500 100%);
	background:-webkit-linear-gradient(top, #d9bf2b 5%, #edd500 100%);
	background:-o-linear-gradient(top, #d9bf2b 5%, #edd500 100%);
	background:-ms-linear-gradient(top, #d9bf2b 5%, #edd500 100%);
	background:linear-gradient(to bottom, #d9bf2b 5%, #edd500 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9bf2b', endColorstr='#edd500',GradientType=0);
	background-color:#d9bf2b;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:0px solid #fceb00;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	font-weight:bold;
	padding:10px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #fcd600;
    margin: -3px;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #edd500), color-stop(1, #d9bf2b));
	background:-moz-linear-gradient(top, #edd500 5%, #d9bf2b 100%);
	background:-webkit-linear-gradient(top, #edd500 5%, #d9bf2b 100%);
	background:-o-linear-gradient(top, #edd500 5%, #d9bf2b 100%);
	background:-ms-linear-gradient(top, #edd500 5%, #d9bf2b 100%);
	background:linear-gradient(to bottom, #edd500 5%, #d9bf2b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#edd500', endColorstr='#d9bf2b',GradientType=0);
	background-color:#edd500;
}
.myButton:active {
	position:relative;
	top:1px;
}








.newCompetitionStep1 {
 
  display: flex;
  align-items: center;
  justify-content: center;
    
}

/*///suwak*/

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 19px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: lawngreen;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
