<!doctype html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>Strona administratora</title>
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%- include("header") %>
    <script>
     $(function() {
        
            ///////////////////CRUD KONIA    
            var socket = io.connect('//' + window.location.host, {secure: true});
            socket.emit("horsesReq");
            socket.on("horsesRes", function(data) {
            var horsesList = $("#horsesList table tbody");
            horsesList.empty();

            for (var i=0; i<data.length; i++) {
                var row = $("<tr />");
                row.append("<td>" + data[i].horseName +"</td>");
    //            row.append("<td>" + data[i].gender +"</td>");
                row.append("<td>" + ( (data[i].gender)=="MALE" ? "Ogier" : "Klacz" ) + "</td>");
                row.append("<td>" + data[i].owner +"</td>");
//                row.append("<td>" + (moment(Date.parse(data[i].dateOfBirth)).format("YYYY-MM-DD")) +"</td>");
                row.append($("<td>").addClass("date").text(moment(Date.parse(data[i].dateOfBirth)).format("YYYY-MM-DD")));
                  ///$(this).val(moment(res.planStartDate).format("YYYY-MM-DD"));

                var buttons = $("<td>");

                var editButton = $("<span>");
                editButton.attr("horseId", data[i]._id)
                var editIcon = $("<i class='material-icons'>mode_edit</i>").appendTo(editButton);
                editButton.click(function(e) {
                    socket.emit("horseReadByIDReq", {
                        horseId: $(this).attr("horseId")
                    });
                });
                buttons.append(editButton);

                //remove_circle_outline
                var deleteButton = $("<span>");    
                deleteButton.attr("horseId", data[i]._id)
                 var deleteIcon = $("<i class='material-icons'>remove_circle_outline</i>").appendTo(deleteButton);
                deleteButton.click(function(e) {
                    socket.emit("horseDeleteByIDReq", {
                        horseId: $(this).attr("horseId")
                    });
                });
                buttons.append(deleteButton);
                row.append(buttons);
                horsesList.append(row);
            }
        });

        socket.on("horseDeleteByIDRes", function(data) {
            socket.emit("horsesReq");
        });

        socket.on("horseReadByIDRes", function(data) {
            console.log(data.data);
            $("#horseId").val(data.data._id);
            $("#horseName").val(data.data.horseName);
            $("#gender").val(data.data.gender);
            $("#owner").val(data.data.owner);
            $("#dateOfBirth").val(data.data.dateOfBirth);
        });

    ///////////////CRUD SĘDZIEGO        
        socket.emit("juryReq");
        socket.on("juryRes", function(data){
            console.log("data");
            console.log(data);

            var juryList = $("#juryList table tbody");
                juryList.empty();
    //              console.log(JSON.stringify(data));
                for (var i=0; i<data.length; i++) {
                    var row = $("<tr />");
                    row.append("<td>" + data[i].username +"</td>");
                    row.append("<td>" + data[i].firstName +"</td>");
                    row.append("<td>" + data[i].lastName +"</td>");
                    row.append("<td>" + data[i].password +"</td>");

                    var buttons = $("<td>");

                    var editButton = $("<span>");
                    editButton.attr("userId", data[i]._id)
                    var editIcon = $("<i class='material-icons'>mode_edit</i>").appendTo(editButton);
                    editButton.click(function(e) {
                    socket.emit("juryReadByIDReq", {
                    userId: $(this).attr("userId")
                        });
                    });
                    buttons.append(editButton);

                                    //remove_circle_outline
                    var deleteButton = $("<span>");    
                    deleteButton.attr("userId", data[i]._id)
                    var deleteIcon = $("<i class='material-icons'>remove_circle_outline</i>").appendTo(deleteButton);
                    deleteButton.click(function(e) {
                    socket.emit("juryDeleteByIDReq", {
                            userId: $(this).attr("userId")
                        });
                    });
                    buttons.append(deleteButton);
                    row.append(buttons);
                    juryList.append(row);
                }
             });
        socket.on("juryDeleteByIDRes", function(data) {
            socket.emit("juryReq");
        });
        
        socket.on("juryReadByIDRes", function(data) {
        console.log(data.data);
        $("#userId").val(data.data._id);
        $("#username").val(data.data.username);    
        $("#firstName").val(data.data.firstName);
        $("#lastName").val(data.data.lastName);
        $("#password").val(data.data.password);

    });
            
        
        
        socket.emit("competitionListReq");
        socket.on("competitionListRes", function(data){
          var  competitionList = $("#competitionList table tbody");
            competitionList.empty();
            
            for(var i=0; i<data.competitions.length; i++){
                var row = $("<tr />");
               // row.append("<td>" + data.competitions[i].name + "</td>");
                $("<a>").attr("href","/newCompetitionStep2/" + data.competitions[i]._id).text(data.competitions[i].name).appendTo(row);
                row.append("<td>" + data.competitions[i].date + "</td>");
                row.append("<td>" + data.competitions[i].comments + "</td>");
                row.append("<td>" + ( data.competitions[i].gender == "MALE" ? "Ogier" : "Klacz" ) + "</td>");
                row.append("<td>" + ( data.competitions[i].isActive == true ? "TAK" : "NIE" ) + "</td>");
                competitionList.append(row);
            }
        });
   
        //WALIDACJE
        $("#username").blur(function(e) {
            if ($(this).val() == "") {
                var msg = $("<p>").text("Podaj nazwę użytkownika");
                $(this).parent().children("p").remove();
                $(this).parent().append(msg);
            } else {
                $(this).parent().children("p").remove();
            }
        });     
            
        $("#dateOfBirth").blur(function(e) {
            if ($(this).val() == "") {
                var msg = $("<p>").text("Podaj datę urodzenia konia");
                $(this).parent().children("p").remove();
                $(this).parent().append(msg);
            } else {
                $(this).parent().children("p").remove();
            }
        });
            
            
     
            
        $("#juryMark").click(function(e) {
           socket.emit('adminSaveMarksReq'); 
        });    
            
           
    
        $("input[type=date]").datepicker(); 
    });
        
        
        
        
        
        
   ///pokazywanie i ukrywanie crudów i listy
        
    
$(document).ready(function(){
    $("juryv").hide();
    $("horsev").hide();
    $("competitionv").hide();
    
    <% if (typeof showJuries != "undefined") { %>
        $("juryv").animate({
            height: 'toggle'
        });
    <% } %>
    
    <% if (typeof showHorses != "undefined") { %>
        $("horsev").animate({
            height: 'toggle'
        });
    <% } %>
    
    $("#juryvid").click(function(){
        $("juryv").animate({
            height: 'toggle'
        });
//        $("juryv").toggle();
    });
    
    $("#horsevid").click(function(){
        $("horsev").animate({
            height: 'toggle'
        });
//        $("horsev").toggle();
    });
    
    $("#competitionvid").click(function(){
        $("competitionv").animate({
            height: 'toggle'
        });
//        $("competitionv").toggle();
    });
});
        
    </script>
</head>

<body>

    <nav>
        <div>
            <a href="/profile">Edycja profilu</a>
            <a href="/logout">Wyloguj</a>
           
        </div>
        <div>
            <a href="/registerAdmin" class="myButton">Utwórz administratora</a>
            <a id="juryvid" class="myButton">Zarządzaj sędziami</a>
            <a id="horsevid" class="myButton">Zarządzaj koniami</a>
            <a id="competitionvid" class="myButton">Zarządzaj zawodami</a>
            <a href="/newCompetition" class="myButton" >Utwórz nowe zawody</a>
        </div>
        <div class="message">
            <% if(typeof message != 'undefined') { %>
                <%= message %>
            <% }%>
        </div>
    </nav>
    <juryv style="display: inline-table">
    <div id="juryContainer">
        <h1>Dodaj sędziego</h1>
        <form action="/newUser" method="post" class="form-style-6">
 
            
            <table>
                <input type="hidden" name="userId" id="userId" value="" />
                <tr>
                    <td><label for="username">Nazwa użytkownika</label></td>
                    <td><input type="text" name="username" id="username"/></td>
                </tr>
                <tr>
                    <td><label for="firstName">Imię</label></td>
                    <td><input type="text" name="firstName" id="firstName" /></td>
                </tr>
                <tr>
                    <td><label for="lastname">Nazwisko</label></td>
                    <td><input type="text" name="lastName" id="lastName"/></td>
                </tr>
                <tr>
                    <td><label for="password">Hasło</label></td>
                    <td><input type="text" name="password" id="password" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Zapisz sędziego" /></td>
                </tr>
            </table>
        </form>
    <div id="juryList">
        <table>
            <thead>
                <tr>
                    <td>Nazwa użytkownika</td>
                    <td>Imię</td>
                    <td>Nazwisko</td>
                    <td>Hasło</td>
                    <td>Operacje</td>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
      </div>
    </div>
    </juryv>    
    
    <horsev style="display: inline-table">
    <div id="horseContainer">
    <h1>Dodaj konia</h1>
    <form action="/newHorse" method="post" class="form-style-6">
        <input type="hidden" name="horseId" id="horseId" value="" />
        <table>
            <tr>
                <td><label for="horseName">Nazwa</label></td>
                <td><input type="text" name="horseName" id="horseName" /></td>
            </tr>
            <tr>
                <td><label for="gender">Płeć</label></td>
                <td>
                    <select name="gender" id="gender">
                        <option value="MALE">Ogier</option>
                        <option value="FEMALE">Klacz</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="owner">Hodowca</label></td>
                <td><input type="text" name="owner" id="owner" /></td>
            </tr>
            <tr>
                <td><label for="dateOfBirth">Data urodzenia</label></td>
                <td><input type="date" name="dateOfBirth" id="dateOfBirth" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Zapisz konia" /></td>
            </tr>
        </table>
    </form>
      

      
      
    
    <div id="horsesList">
        <table>
            <thead>
                <tr>
                    <td>Nazwa</td>
                    <td>Płeć</td>
                    <td>Właściciel</td>
                    <td>Data urodzenia</td>
                    <td>Operacje</td>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
      </div>
      </div>
    
    </horsev>
    
        
    
    
    <competitionv style="display: inline-table">
      <div id="competitionList">
          <h1>Lista zawodów</h1>
          <table>
            <thead>
                <tr>
                    <td>Nazwa</td>
                    <td>Data</td>
                    <td>Komentarz</td>
                    <td>Płeć</td>
                    <td>Aktywność</td>
                </tr>
              </thead>
              <tbody>
              </tbody>
          </table>
      </div>
    </competitionv>  
      
    <div>
       
    </div>
</body>
</html>
