<!doctype html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>Zawody</title>
        <%- include("header") %>
<!--    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />    -->
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <div>
    <a href="/">Strona główna</a>
        </div>
    <script>
        $(function() {
            var socket = io.connect('//' + window.location.host, {secure: true});

            var competitionId = $("#competitionId").val();

            socket.emit("horseMarkByCompetitionIdReq", {
                competitionId: competitionId
            });
            
            setInterval(function() {
                socket.emit("horseMarkByCompetitionIdReq", {
                    competitionId: competitionId
                });
            }, 5000);

            socket.on("horseMarkByCompetitionIdRes", function(data) {
                var horseMarks = $("#horseMarks table tbody");
                horseMarks.empty();
                var horsesAvg = {};
                var horses = {};
                var juries = {};
                var horsesSorted = [];
                
                evalHorsesAvg(data, horsesAvg, horses, juries, horsesSorted);
                
                buildHorsesAvgHtml(data, horsesAvg, horsesSorted, horseMarks);
                
                $(".juryRow").hide();
                $(".horseRow").click(function(e) {
                    var juryRows = $(this).parent().children(".juryRow[horse="+$(this).attr("id")+"]");
                    juryRows.toggle();
                });
            });
        });
        
        function buildHorsesAvgHtml(data, horsesAvg, horsesSorted, horseMarks) {
            var trj;
            var trh;
            for (var j=0; j<horsesSorted.length; j++) {
                for (var i=0; i<data.horseMarks.length; i++) {
                    if (horsesSorted[j].id == data.horseMarks[i].horse._id) {
                        trh = $("#"+data.horseMarks[i].horse._id+".horseRow");
                        if (!trh.length) {//to zeby koń był tylko raz wyświetlony
                            trh = $("<tr>").attr("id", data.horseMarks[i].horse._id).addClass("horseRow");
                            $("<td>").text(data.horseMarks[i].horse.horseName).appendTo(trh);
                            $("<td>").text(horsesAvg[data.horseMarks[i].horse._id].type).appendTo(trh);
                            $("<td>").text(horsesAvg[data.horseMarks[i].horse._id].head).appendTo(trh);
                            $("<td>").text(horsesAvg[data.horseMarks[i].horse._id].body).appendTo(trh);
                            $("<td>").text(horsesAvg[data.horseMarks[i].horse._id].legs).appendTo(trh);
                            $("<td>").text(horsesAvg[data.horseMarks[i].horse._id].movement).appendTo(trh);
                            $("<td>").text(horsesAvg[data.horseMarks[i].horse._id].avg).appendTo(trh);
                            horseMarks.append(trh);
                        }

                        trj = $("<tr>").addClass("juryRow").attr("horse", data.horseMarks[i].horse._id);

                        $("<td>").text(data.horseMarks[i].jury.firstName + " " + data.horseMarks[i].jury.lastName).appendTo(trj);
                        $("<td>").text(data.horseMarks[i].type).appendTo(trj);
                        $("<td>").text(data.horseMarks[i].head).appendTo(trj);
                        $("<td>").text(data.horseMarks[i].body).appendTo(trj);
                        $("<td>").text(data.horseMarks[i].legs).appendTo(trj);
                        $("<td>").text(data.horseMarks[i].movement).appendTo(trj);

                        horseMarks.append(trj);
                    }
                }
            }
        }
        
        function evalHorsesAvg(data, horsesAvg, horses, juries, horsesSorted) {
                for (var i=0; i<data.horseMarks.length; i++) {
                    horses[data.horseMarks[i].jury._id] = [];
                }
                                                           // robimy pętle po odpowiedzi z serwera
                //Obliczenie liczby sędziów
                
//                jury 1 horse 1 competition 1 legs 5 head 2
//                jury 1 horse 2 competition 1 
//                jury 2 horse 1 competition 1 legs 6
//              -  jury 2 horse 2 competition 1
//                
//                juries[2] = 1     { juries[1], juries[2] }
                
                for (var i=0; i<data.horseMarks.length; i++) {
                    juries[data.horseMarks[i].jury._id] = 1;
                }
                var juriesNo = Object.keys(juries).length;    //   [1, 2].lenght = 2
//                console.log("juries: " + Object.keys(juries));
                
                //unikalna mapa koni z inicjalnymi wartościami średnich ocen
                for (var i=0; i<data.horseMarks.length; i++) {
                    horsesAvg[data.horseMarks[i].horse._id] = {
                        id: data.horseMarks[i].horse._id,
                        type: 0,
                        head: 0,
                        body: 0,
                        legs: 0,
                        movement: 0,
                        avg: 0
                    };
                }
                
                //obliczenie wartości średnich ocen koni - sumowanie
                for (var i=0; i<data.horseMarks.length; i++) {
                    horsesAvg[data.horseMarks[i].horse._id].type += data.horseMarks[i].type;//po kropce mamy klucz-ostatni element po kropce
                    horsesAvg[data.horseMarks[i].horse._id].head += data.horseMarks[i].head;
                    horsesAvg[data.horseMarks[i].horse._id].body += data.horseMarks[i].body;
                    horsesAvg[data.horseMarks[i].horse._id].legs += data.horseMarks[i].legs;
                    horsesAvg[data.horseMarks[i].horse._id].movement += data.horseMarks[i].movement;
                }//przechodzenie forma przez mapy
                for(var key in horsesAvg) {
                    horsesAvg[key].type /= juriesNo;
                    horsesAvg[key].head /= juriesNo;
                    horsesAvg[key].body /= juriesNo;
                    horsesAvg[key].legs /= juriesNo;
                    horsesAvg[key].movement /= juriesNo;
                    horsesAvg[key].avg = (horsesAvg[key].type + horsesAvg[key].head + horsesAvg[key].body + horsesAvg[key].legs + horsesAvg[key].movement)/5;
                }
                
//                var horsesSorted = [];
                for(var key in horsesAvg) {
                    horsesSorted.push(horsesAvg[key]);
                }
                horsesSorted.sort(function(a, b) {
                    return b.avg - a.avg;
                });
        }
    </script>
    
    <input type="hidden" id="competitionId" value="<%= competitionId %>" />
    
    <h1>Tablica wyników</h1>
    <h1 id="competitionLabel">Zawody: <%= competition.name %></h1>
    <div id="horseMarks">
        <table>
            <thead>
                <tr>
                    <td>Koń</td>
                    <td>Typ</td>
                    <td>Głowa</td>
                    <td>Ciało</td>
                    <td>Nogi</td>
                    <td>Ruch</td>
                    <td>Średnia</td>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</body>

</html>
