<!doctype html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>Test pasport.socketio</title>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    
</head>

<body>
    <script>
    var socket = io.connect('//' + window.location.host, {secure: true});
    socket.emit("horsesReq");
    socket.on("horsesRes", function(data) {
        console.log(JSON.stringify(data));
        var horsesList = $("#horsesList table");
        
        for (var i=0; i<data.length; i++) {
            var row = $("<tr />");
            row.append("<td>" + data[i].horseName +"</td>");
            row.append("<td>" + data[i].gender +"</td>");
            row.append("<td>" + data[i].owner +"</td>");
            row.append("<td>" + data[i].dateOfBirth +"</td>");
            horsesList.append(row);
        }
    })
    </script>
    
    <div class="message">
        <% if(typeof message != 'undefined') { %>
            <%= message %>
        <% }%>
    </div>
    
    <h1>Dodaj sędziego</h1>
    <form action="/newUser" method="post">
        <table>
            <tr>
                <td><label for="username">Nazwa użytkownika</label></td>
                <td><input type="text" name="username" /></td>
            </tr>
            <tr>
                <td><label for="firstname">Imię</label></td>
                <td><input type="text" name="firstname" /></td>
            </tr>
            <tr>
                <td><label for="lastname">Nazwisko</label></td>
                <td><input type="text" name="lastname" /></td>
            </tr>
            <tr>
                <td><label for="password">Hasło</label></td>
                <td><input type="text" name="password" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Dodaj sędziego" /></td>
            </tr>
        </table>
    </form>
    </form>
    
    
    
    <h1>Dodaj konia</h1>
    <form action="/newHorse" method="post">
        <table>
            <tr>
                <td><label for="horseName">Nazwa</label></td>
                <td><input type="text" name="horseName" /></td>
            </tr>
            <tr>
                <td><label for="gender">Płeć</label></td>
                <td><input type="text" name="gender" /></td>
            </tr>
            <tr>
                <td><label for="owner">Właściciel</label></td>
                <td><input type="text" name="owner" /></td>
            </tr>
            <tr>
                <td><label for="dateOfBirth">Data urodzenia</label></td>
                <td><input type="text" name="dateOfBirth" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Dodaj konia" /></td>
            </tr>
        </table>
    </form>
    
    <div id="horsesList"><table></table></div>
</body>

</html>
