<!doctype html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>Test pasport.socketio</title>
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <h1>Dodaj sędziego</h1>
    <form action="/newUser" method="post">
        <input type="text" name="username" />
        <input type="text" name="firstname" />
        <input type="text" name="lastname" />
        <input type="password" name="password" />
        <input type="submit" value="Dodaj sędziego" />
    </form>
    </form>
    
    
    
    
        <h1>Dodaj konia</h1>
    <form action="/newUser" method="post">
        <input type="text" name="username" />
       <input type="text" name="gender" />
        <input type="text" name="breeder" />
        <input type="submit" value="Dodaj konia" />
    </form>
</body>

</html>
