<!doctype html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>Test pasport.socketio</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />    
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    
</head>

<body>
    <script>
    var socket = io.connect('//' + window.location.host, {secure: true});
    socket.emit("horsesReq");
    socket.on("horsesRes", function(data) {
        var horsesList = $("#horsesList table");
        horsesList.empty();
        
        for (var i=0; i<data.length; i++) {
            var row = $("<tr />");
            row.append("<td>" + data[i].horseName +"</td>");
            row.append("<td>" + data[i].gender +"</td>");
            row.append("<td>" + data[i].owner +"</td>");
            row.append("<td>" + data[i].dateOfBirth +"</td>");
            
            var editButton = $("<td>");
            editButton.attr("horseId", data[i]._id)
            var editIcon = $("<i class='material-icons'>mode_edit</i>").appendTo(editButton);
            editButton.click(function(e) {
                socket.emit("horseReadByIDReq", {
                    horseId: $(this).attr("horseId")
                });
            });
            row.append(editButton);
                
            
            //remove_circle_outline
            var deleteButton = $("<td>");    
            deleteButton.text("Usuń");
            deleteButton.attr("horseId", data[i]._id)
            deleteButton.click(function(e) {
                socket.emit("horseDeleteByIDReq", {
                    horseId: $(this).attr("horseId")
                });
            });
            row.append(deleteButton);
            horsesList.append(row);
        }
    });
        
    socket.on("horseDeleteByIDRes", function(data) {
        socket.emit("horsesReq");
    });
        
    socket.on("horseReadByIDRes", function(data) {
        console.log(data.data);
        $("#horseId").val(data.data._id);
        $("#horseName").val(data.data.horseName);
        $("#gender").val(data.data.gender);
        $("#owner").val(data.data.owner);
        $("#dateOfBirth").val(data.data.dateOfBirth);
    });
        
        
    socket.emit("juryReq");
    socket.on("juryRes", function(data){
       
        var juryList = $("#juryList table");
            juryList.empty();
//              console.log(JSON.stringify(data));
            for (var i=0; i<data.length; i++) {
            var row = $("<tr />");
            row.append("<td>" + data[i].username +"</td>");
            row.append("<td>" + data[i].firstName +"</td>");
            row.append("<td>" + data[i].lastName +"</td>");
            row.append("<td>" + data[i].password +"</td>");
            var deleteButton = $("<td>");
                    juryList.append(row);
                }
         });

        
        
    </script>
    
    <div class="message">
        <% if(typeof message != 'undefined') { %>
            <%= message %>
        <% }%>
    </div>
    <a href="/newCompetition">Rozpocznij zawody</a>
    <div class="container">
  <div class="jumbotron">
    <h1>Dodaj sędziego</h1>
    <form action="/newUser" method="post">
        <table>
            <tr>
                <td><label for="username">Nazwa użytkownika</label></td>
                <td><input type="text" name="username" /></td>
            </tr>
            <tr>
                <td><label for="firstName">Imię</label></td>
                <td><input type="text" name="firstName" /></td>
            </tr>
            <tr>
                <td><label for="lastname">Nazwisko</label></td>
                <td><input type="text" name="lastName" /></td>
            </tr>
            <tr>
                <td><label for="password">Hasło</label></td>
                <td><input type="text" name="password" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Dodaj sędziego" /></td>
            </tr>
        </table>
    </form>
        <div id="juryList"><table></table></div>
        
    
    
    <h1>Dodaj konia</h1>
    <form action="/newHorse" method="post">
        <table>
            <input type="hidden" name="horseId" id="horseId" value="" />
            <tr>
                <td><label for="horseName">Nazwa</label></td>
                <td><input type="text" name="horseName" id="horseName" /></td>
            </tr>
            <tr>
                <td><label for="gender">Płeć</label></td>
                <td>
                    <select name="gender" id="gender">
                        <option value="MALE">Ogier</option>
                        <option value="FEMALE">Klacz</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="owner">Hodowca</label></td>
                <td><input type="text" name="owner" id="owner" /></td>
            </tr>
            <tr>
                <td><label for="dateOfBirth">Data urodzenia</label></td>
                <td><input type="text" name="dateOfBirth" id="dateOfBirth" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Zapisz konia" /></td>
            </tr>
        </table>
    </form>
    
    <div id="horsesList"><table></table></div>
</body>
    </div>
    </div>
</html>
