<!doctype html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>Test pasport.socketio</title>
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    
    
      <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    
</head>

<body>
    <script>
    var socket = io.connect('//' + window.location.host, {secure: true});
    socket.emit("horsesReq");
    socket.on("horsesRes", function(data) {
        var horsesList = $("#horsesList table");
        horsesList.empty();
        
        for (var i=0; i<data.length; i++) {
            var row = $("<tr />");
            row.append("<td>" + data[i].horseName +"</td>");
            row.append("<td>" + data[i].gender +"</td>");
            row.append("<td>" + data[i].owner +"</td>");
            row.append("<td>" + data[i].dateOfBirth +"</td>");
            var deleteButton = $("</td>");
            
            deleteButton.text("Usuń");
            deleteButton.attr("horseId", data[i]._id)
            deleteButton.click(function(e) {
                socket.emit("horseDeleteByIDReq", {
                    horseId: $(this).attr("horseId")
                });
            });
            row.append(deleteButton);
            horsesList.append(row);
        }
    });
        
    socket.on("horseDeleteByIDRes", function(data) {
        socket.emit("horsesReq");
    });
        
        
      



    socket.emit("juryReq");
    socket.on("juryRes", function(data){
       
        var juryList = $("#juryList table");
        ///juryList.empty();
              console.log(JSON.stringify(data));
            for (var i=0; i<data.length; i++) {
            var row = $("<tr />");
            row.append("<td>" + data[i].username +"</td>");
            row.append("<td>" + data[i].firstName +"</td>");
            row.append("<td>" + data[i].lastName +"</td>");
            row.append("<td>" + data[i].password +"</td>");
            var deleteButton = $("<td>");

                }
         });

        
        
    </script>
    
    <div class="message">
        <% if(typeof message != 'undefined') { %>
            <%= message %>
        <% }%>
    </div>
    <div class="container">
  <div class="jumbotron">
    <h1>Dodaj sędziego</h1>
    <form action="/newUser" method="post">
        <table>
            <tr>
                <td><label for="username">Nazwa użytkownika</label></td>
                <td><input type="text" name="username" /></td>
            </tr>
            <tr>
                <td><label for="firstName">Imię</label></td>
                <td><input type="text" name="firstName" /></td>
            </tr>
            <tr>
                <td><label for="lastname">Nazwisko</label></td>
                <td><input type="text" name="lastName" /></td>
            </tr>
            <tr>
                <td><label for="password">Hasło</label></td>
                <td><input type="text" name="password" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Dodaj sędziego" /></td>
            </tr>
        </table>
    </form>
        <div id="juryList"><table></table></div>
        
    
    
    <h1>Dodaj konia</h1>
    <form action="/newHorse" method="post">
        <table>
            <tr>
                <td><label for="horseName">Nazwa</label></td>
                <td><input type="text" name="horseName" /></td>
            </tr>
            <tr>
                <td><label for="gender">Płeć</label></td>
                <td>
                    <select name="gender">
                        <option value="MALE">Ogier</option>
                        <option value="FEMALE">Klacz</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="owner">Hodowca</label></td>
                <td><input type="text" name="owner" /></td>
            </tr>
            <tr>
                <td><label for="dateOfBirth">Data urodzenia</label></td>
                <td><input type="text" name="dateOfBirth" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Dodaj konia" /></td>
            </tr>
        </table>
    </form>
    
    <div id="horsesList"><table></table></div>
</body>
    </div>
    </div>
</html>
