<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Zarzącaj zawodami</title>
       <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <%- include("header") %>
<script type="application/javascript" src="/js/competitionManager.js"></script>    
</head> 
<body>
<competitionv style="display: inline-table">
      <div id="competitionList">
          <h1>Lista grup</h1>
          <table>
            <thead>
                <tr>
                    <td>Nazwa</td>
                    <td>Data</td>
                    <td>Komentarz</td>
                    <td>Płeć</td>
                    <td>Aktywność</td>
                </tr>
              </thead>
              <tbody>
              </tbody>
          </table>
      </div>
    </competitionv>  
   </body>     
    </html>