<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Manager zawodów</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>
    <%-include("header") %>
    <script type="application/javascript" src="/js/competitionMasterManager.js"></script>
</head>

    <body>
        <div style="display: inline-table">
            <div id="competitionMasterList">
                <h1>Lista zawodów</h1>
                <table>
                    <thead>
                        <tr>
                            <td>Nazwa</td>
                            <td>Data</td>
                            <td>Komentarz</td>
                            <td>Aktywność</td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </body>    
</html>