<!doctype html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>Zawody</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />    
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <script>
    $(function() {
        var socket = io.connect('//' + window.location.host, {secure: true});
        
        socket.emit("competitionByActivityReq", {
            isActive: true
        });
        
        socket.on("competitionByActivityRes", function(data) {
            var competitions = $("#competitions table tbody");
            competitions.empty();

            for (var i=0; i<data.competitions.length; i++) {
                var row = $("<tr />");
                row.append( $("<td>").append( $("<a>").attr("href", "/showCompetition/"+data.competitions[i]._id).text(data.competitions[i].name) ) );
                row.append("<td>" + data.competitions[i].date +"</td>");
                row.append("<td>" + data.competitions[i].comments +"</td>");
                row.append("<td>" + (data.competitions[i].gender == "MALE" ? "Ogier" : "Klacz" )  +"</td>");
                competitions.append(row);
            };
        });
    });
    </script>
    
    <div>
        <% if(typeof user != 'undefined') { %>
            <p>Witaj: <%= user.firstName %> <%= user.lastName %></p>
            <div><a href="/profile">Edycja profilu</a></div>
            <div><a href="/logout">Wyloguj</a></div>
        <% } else { %>
            <div><a href="/login">Zaloguj</a></div>
        <% } %>
    </div>
    <h1>Aktywne zawody</h1>
    <div id="competitions">
        <table>
            <thead>
                <tr>
                    <td>Nazwa zawodów</td>
                    <td>Data</td>
                    <td>Uwagi</td>
                    <td>Płeć</td>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</body>

</html>
