<!doctype html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>Zawody</title>
   <%- include("header") %>

</head>

<body>
    <script>
    $(function() {
        var socket = io.connect('//' + window.location.host, {secure: true});
        
        var competitionId = $("#competitionId").val();
        
        socket.emit("horsesByCompetitionIdAndJuryIdReq", {
            competitionId: competitionId,
            juryId: "<%= juryId %>",
        });
        
        setInterval(function(){ 
            socket.emit("horsesByCompetitionIdAndJuryIdReq", {
                competitionId: competitionId,
                juryId: "<%= juryId %>",
            });
        }, 3000);
        
        socket.on("horsesByCompetitionIdAndJuryIdRes", function(data) {
            var competitions = $("#competitions table");
            competitions.empty();

            for (var i=0; i<data.horses.length; i++) {
                var row = $("<tr />");
                
                if (data.horses[i].isActive) {
                    $("<td>").append( $("<a>").attr("href", "/horse/competition/" + data.horses[i].horse._id+"/"+competitionId).text("Koń "+(i+1)) ).appendTo(row);
                } else {
                    $("<td>Koń "+(i+1)+"</td>").appendTo(row);
                }
                
                competitions.append(row);
            }
        });
    });
    </script>
    
    <input type="hidden" id="competitionId" value="<%= competitionId %>" />
    
    <div>

        <a href="/logout">Wyloguj</a>
        <a href="/">Strona główna</a>
    </div>
    <h1>Konie do oceny</h1>
    <div id="competitions">
        <table>
        </table>
    </div>
</body>

</html>
