<!doctype html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>Zawody</title>
        <%- include("header") %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />    
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <div>
       
        <a href="/">Strona główna</a>
    </div>
    <form action="/login" method="post" class="form-style-6">
        <table>
            <tr>
                <td><label>Użytkownik:</label></td>
                <td><input type="text" name="username"/></td>
            </tr>
            <tr>
                <td><label>Hasło:</label></td>
                <td><input type="password" name="password"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Zaloguj"/></td>
            </tr>
        </table>
    </form>
</body>

</html>
