<!doctype html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>Zawody</title>
    <%- include("header") %>
    
</head>

<body>
        <div>
            <input type="hidden" id="competitionMasterId" value="<%= competitionMaster._id %>" />    
            
            
            
        <a href="/administrator">Strona administratora</a>
        <a href="/logout">Wyloguj</a>
        <a href="/newCompetition/<%= competitionMaster._id %>" class="myButton" >Utwórz nowe zawody</a>
        </div>
    
    
</body>
</html>