<!doctype html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>Tworzenie nowych zawodów</title>
    <%- include("header") %>

</head>
    <nav>
        <div>
            
            <a href="/logout">Wyloguj</a>
        </div>
        <div>
            <a href="/admin" class="myButton">Panel administratora</a>
            <a href="/juryManager" class="myButton">Zarządzaj sędziami</a>
            <a href="/horseManager" class="myButton">Zarzadzaj koniami</a>
            <a href="/competitionMasterManager" class="myButton">Zarządzaj zawodami</a>
            
        </div>
        <div class="message">
        <%  if(typeof message != 'undefined'){ %>
        <%= message %>
        <% } %>   
        
        </div>
    </nav>

<body >
    <form action="/newCompetitionMasterStep2" method="post" class="form-style-6">

        <table class="newCompetitionMasterStep1">

            <tbody>
                <tr>  
                    <td><label for="name">Nazwa</label></td>
                    <td><input type="text" name="name" id="name" /></td>
                </tr>
                <tr>
                    <td><label for="date">Data</label></td>
                    <td><input class="date" type="date" name="date" id="date" /></td>
                </tr>
                <tr>
                    <td><label for="comments">Uwagi</label></td>
                    <td><input type="text" name="comments" id="comments" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Dalej" /></td>
                </tr>
            </tbody>
        </table>
    </form>
</body>
</html>
