<!doctype html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>Test pasport.socketio</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />    
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <script>
    var socket = io.connect('//' + window.location.host, {secure: true});
    socket.emit("horsesReq");
    socket.on("horsesRes", function(data) {
        var horsesList = $("#horses table");
        horsesList.empty();
        
        for (var i=0; i<data.length; i++) {
            var row = $("<tr />");
            row.append("<td>" + data[i].horseName +"</td>");
            row.append("<td>" + data[i].gender +"</td>");
            row.append("<td>" + data[i].owner +"</td>");
            row.append("<td>" + data[i].dateOfBirth +"</td>");
            
            var addButton = $("<td>");
            addButton.attr("horseId", data[i]._id)
            var addIcon = $("<i class='material-icons'>add_circle_outline</i>").appendTo(addButton);
            addButton.click(function(e) {
                socket.emit("horseAddToCompetitionReq", {
                    competitionId: '<%= competition._id %>',
                    horseId: $(this).attr("horseId")
                });
            });
            row.append(addButton);
            horsesList.append(row);
        }
    });
        
    socket.on("horseAddToCompetitionRes", function(data) {
        window.location = "/newCompetitionStep2/" + data.competitionId;
    });
        
    socket.emit("horsesByCompetitionIDReq", {
        competitionId: "<%= competition._id %>"
    });
    socket.on("horsesByCompetitionIDRes", function(data) {
        var horsesInCompetition = $("#horsesInCompetition");
        horsesInCompetition.empty();
        
        for (var i=0; i<data.length; i++) {
            var row = $("<tr />");
            row.append("<td>" + data[i].horseName +"</td>");
            row.append("<td>" + data[i].gender +"</td>");
            row.append("<td>" + data[i].owner +"</td>");
            row.append("<td>" + data[i].dateOfBirth +"</td>");
            horsesInCompetition.append(row);
        }
    });
    </script>
    
    <input type="hidden" value="<%= competition._id %>" />

    <h1>Widok zawodów <%= competition.name %></h1>
    <h2>Konie w zawodach</h2>
    <div id="horsesInCompetition"></div>
    <h2>Dostępne konie</h2>
    <div id="horses"><table></table></div>
    <div id="juryInCompetition"></div>
    <div id="jury"></div>
</body>
</html>
