<!doctype html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>Test pasport.socketio</title>
    <script src="/socket.io/socket.io.js"></script>
</head>

<body>
    <h1>Tworzenie nowego administratora</h1>
    <form action="/newUser" method="post">
        <table>
            <tr>
                <td><label>Nazwa użytkownika</label></td>
                <td><input type="text" name="username" /></td>
            </tr>
            <tr>
                <td><label>Hasło</label></td>
                <td><input type="password" name="password" /></td>
            </tr>
            <tr>
                <td><label>Imię</label></td>
                <td><input type="text" name="firstName" /></td>
            </tr>
            <tr>
                <td><label>Nazwisko</label></td>
                <td><input type="text" name="lastName" /></td>
            </tr>
            <input type="hidden" name="isAdmin" value="on" />
            <tr>
                <td></td>
                <td><input type="submit" value="Utwórz Administratora" /></td>
            </tr>
        </table>
    </form>
</body>

</html>
