<!doctype html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <%- include("header") %>
</head>

<body>
    <h1>Błąd</h1>
    <% if ( (loggedUser != null) && (typeof loggedUser.username != "undefined") ) { %>
        <p>Uprawnienia użytkownika są niewystarczające dla użytkownika <%= loggedUser.username %></p>
    <%} else {%>
        <p>Strona dostępna tylko dla zalogowanych użytkowników</p>
    <%}%>
    <a href="/">Strona główna</a>
</body>

</html>
